body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(rgba(2,0,36,1) 0%, rgba(238,192,18,1) 42%, rgba(0,212,255,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar {  
 background-color: black;
}
.logo-icon{
  width: 100px; 
  height: auto;
  margin-right: 10px; 
  width: 100px;  
  margin: auto;
}
footer{ 
  background-color: #f8f9fa; 
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #dee2e6;
  margin-bottom: 10px;
  font-weight: bold;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1; /* Ez a rész biztosítja, hogy a tartalom kitöltse a rendelkezésre álló teret */
}

footer {
  flex-shrink: 0; /* Ez a sor biztosítja, hogy a footer ne töltse ki a rendelkezésre lélo teret */
}