body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/public/img/bkg-blu.jpg");
  background-size: cover;
  background-position: center;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo-icon{
  width: 100px; 
  height: auto;
  margin-right: 10px; 
  width: 100px;  
  margin: auto;
}
footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #8ba5be;
  margin-bottom: 10px;
  font-weight: bold;
  flex-shrink: 0; 
}

.btn-secondary {
  background-color: #6c757d; 
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268; 
  border-color: #545b62;
}

.bi {
  font-size: 24px; 
  color: #29cfe9; 
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

input.form-control {
  width: 70%;  /* Szélesség beállítása */
  padding: 8px 12px; /* Jobb belső tér */
  margin: 15px; /* Jobb margó a gombhoz képest */
  border: 2px solid #ccc;  
  cursor: pointer;
  border-radius: 6px; /* Kerekített szegélyek */
  text-align: center; 
  background-size: cover;
  background-position: center;
}

form{
  background-color: #8ba5be;
  padding: 0px 60px;
  border-radius: 10px;

}
h1{
  color: black;
  text-align: left;  
}

button {
  width: 50%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: #007bff; 
  color: white;
  border-radius: 6px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  display: block;  
  margin: 20px auto; 
}

p{
  text-align: bold, left;
}
.carousel-caption {
  background-color: rgba(0,0,0,0.6); 
  opacity: 0.9; 
}
.carousel-caption h3, .carousel-caption p {
  color: white; 
}
label{
  text-align: left bold;
}
.udv {
  font-size: 24px; 
  color: #ffffff; 
  text-shadow: 2px 2px 4px #000000; 
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5); 
  margin: 20px auto; 
  max-width: 600px; 
  text-align: center;
}

button#navkereses {
  width: 50%;
  height: 50px;
  padding: 10px; /* Több hely a szövegnek */
  background-color: #2273ca; 
  color: white;
  border-radius: 6px; 
  font-weight: bold;
  cursor: pointer;
  display: block; 
  margin: 20px;    
}
.d-grid {
  display: -ms-grid;
  display: grid;
}
.d-inline-grid {
  display: -ms-inline-grid;
  display: inline-grid;
}

